body {
    display: flex; 
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 100vh;
    gap: 3%;

    font-family:monospace;
    font-size: 1rem;

    /* background-color: aliceblue; */
}

.container {
    display: inline-grid; 
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: max(30vw, 350px); 
    height: max(30vw, 350px);
}
.container > div { 
    border: 1px black dashed;
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 3rem;
}

.buttons-div {
    display:flex; 
    gap: 10px;
}
.buttons-div > button { 
    width: 15rem;
    height: 3rem;
    font: inherit;
    color: white;
    background-color: rgb(76, 248, 76);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    border: none;
    border-radius: 15px;
}
.buttons-div > button:hover {
    background-color: rgb(102, 252, 102);
}
#winnerDiv {
    font-size: 3rem;
}

#players-info {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#players-info input[type="text"] {
    height: 100%;
}